<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find book</title>
    <%-include("../partials/styles")%>
</head>
<body>
    <%-include("../partials/header",{page:"Find Book"})%>
    <!-- MAIN BODY STARTS -->
    <main class="split-background min-vh-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card bg-white rounded-0 shadow my-4">
                        <h5 class="card-header py-3">Find book by id to check it's status</h5>
                        <div class="card-body bg-secondary-subtle p-4">
                            <form id="find-book-form" class="needs-validation" novalidate>
                                <!-- BOOKID FIELD -->
                                <div class="row">
                                    <div class="col">
                                        <!-- UNIQUE ID FIELD -->
                                        <div class="form-floating mb-3">
                                            <input id="uniqueId" name="uniqueId" class="form-control rounded-0 shadow" type="uniqueId"
                                                placeholder="Book Id." required />
                                            <label for="rollno">Book unique-id</label>
                                            <div class="invalid-feedback">
                                                Book id is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- SUBMIT BUTTON -->
                                <div class="d-grid gap-2 mt-3">
                                    <button id="find-book-submit" class="btn btn-primary rounded-0" type="submit">
                                    Get book info
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- DATATABLES -->
            <div class="row">
                <div class="col">
                    <div id="table-content" class="d-none card bg-white rounded-0 shadow my-4">
                        <div class="card-body px-4">
                            <table id="book-info-table" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Unique Id</th>
                                        <th>Book name</th>
                                        <th>Student Name</th>
                                        <th>Issed By</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- MAIN BODY ENDS -->
    <%-include("../partials/footer")%>
    <!-- SWEET ALERT -->
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   <% const {data} = apiResponse; %>
   <% if(data.alert){%>
     <template id="alert-template">
       <swal-title><%=data.title%></swal-title>
       <swal-html><p><%=data.message%></p></swal-html>
       <swal-icon type="<%=(apiResponse.success)?'success':'error'%>"></swal-icon>
       <swal-button type="confirm">Okay</swal-button>
     </template>
       <script>
           Swal.fire({
               template: "#alert-template"
           });
       </script>
     <%}%>

   <%-include("../partials/scripts")%>
   <script src="../main.js"></script>
</body>
</html>